body {
    background-color: #555;
}

.modal-form {
    margin: 20px;
}

.dates {
    display: flex;
}

.modal-dates {
    width: 70%;
}

.center {
    display: flex;
    justify-content: center;

}

.bold {
    font-weight: bolder;
}

.underline {
    text-decoration: underline;
}

.date-btns {
    display: flex;
    justify-content: space-around;
}

.rem2 {
    font-size: 2rem;
}