.nav {
    height: 70px;
    background-color: #74c3db;
    color: #0b5ed7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
    font-size: 2rem;
}

.add-btn {
    margin-left: 15px;
    background-color: #0b5ed7;
    color: white;
    border: 30px;
    margin-left: -4%;
}

.add-btn:hover {
    background-color: #1f8ac7;
    color: white;
}

.user-btns {
    display: flex;
    justify-content: space-evenly;
}

.log-btn {
    margin: 10px;
    background-color: #0b5ed7;
}